body{
    background-color: rgb(243, 242, 242);
}
.lg-section {
    margin-top: 80px;
    border-color: #000; } 

.mx-3{
    margin-left: 100px !important;
    margin-right: 100px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-radius: 1rem !important;    
}

h2{
    font-weight: bold;
    margin-bottom: 10%;
}

.outline{
    margin-bottom: 5%;
}

a:hover{
    color: rgb(9, 150, 40);
}