/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

.banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 236px 0px 130px 0px;
    position: relative;
    margin-bottom: 20%;
  }

  .banner:after {
    content: '';
    background-image: url(../images/banner-right-image.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -100px;
    top: 100px;
    width: 819px;
    height: 674px;
  }

  /* 
---------------------------------------------
Section Style
--------------------------------------------- 
*/

.card-style{
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 1rem;
}

.left-dec img {
    width: 387px;
    height: 638px;
    left: -80px;
    top: -140px;
    position: absolute;
    z-index: 0;
  }
  
.right-dec img {
    width: 350px;
    height: 305px;
    right:5px;
    bottom: -120px;
    position: absolute;
    z-index: 0;
  }